<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600915804444-r3p772t8c0mk2onj0hmep2b1jra9k9rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600915804444-r3p772t8c0mk2onj0hmep2b1jra9k9rg</string>
	<key>API_KEY</key>
	<string>AIzaSyB7tlyrU2dbViEbjcicoGCdl3skAFGSShM</string>
	<key>GCM_SENDER_ID</key>
	<string>600915804444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-62420</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-62420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600915804444:ios:d74043fa675d64e7ff3ad9</string>
</dict>
</plist>